@layer ue {
    #ue_tooltip {
        z-index : 9000;
        border: thin solid gray;
        color:black;
        position: absolute;
        padding: 4px;
    }
    #ue_tooltip table {
        border-collapse: collapse;

    }
    #ue_tooltip tr:nth-child(odd) {
        background-color: rgba(234, 255, 234, 0.67);
    }
    #ue_tooltip tr:nth-child(even) {
        background-color: rgba(255, 234, 234, 0.67);
    }
    #ue_tooltip th {
        text-align: right;
    }
}
