@layer ue {
    #ue_tooltip {
        z-index : 9000;
        border: thin solid gray;
        color:black;
        position: absolute;
        padding: 4px;
    }
    #ue_tooltip table {
        border-collapse: collapse;

    }
    #ue_tooltip tr:nth-child(odd) {
        background-color: rgba(234, 255, 234, 0.67);
    }
    #ue_tooltip tr:nth-child(even) {
        background-color: rgba(255, 234, 234, 0.67);
    }
    #ue_tooltip th {
        text-align: right;
    }

    .ue_editor {
        z-index : 9000;
        border: thin solid gray;
        color:white;
        position: absolute;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(45 24 24 / 80%);
    }

    .ue_properties_table {
        display: flex;
        flex-direction: column;
    }

    .ue_editor_header {
        width: 100%;
        text-align: center;
        background-color: rgb(45 24 24 / 80%);
        background-size: 100% 14px;
        background-image: repeating-linear-gradient(0deg, #636363, black 1px, rgb(45 24 24 / 80%) 1px, rgb(45 24 24 / 80%) 2px);
        padding-top: 4px;
        border-bottom: thin dashed #ddd;
        padding-bottom: 2px;
            margin-bottom: 2px;
    }

    .ue_properties_row {
        display: flex;
        flex-direction: row;
    }

    .break_below {
        border-bottom: thin dashed #ddd;
        padding-bottom: 2px;
    }

    span.ue_properties_title {
        text-align: right;
        flex-grow: 1;
        padding-right: 4px;
    }

    .ue_properties_title::after {
        content: ':';
    }

    .ue_properties_cell {
        flex-grow: 0;
        width: 250px
    }


    .ue_editor_footer {
        margin: 8px;
        border: thin solid white;
        padding: 2px 30px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .regex_input_container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        input {
            flex-grow: 1;
        }
        span {
            padding: 4px 8px 0px 0px;
            font-size: 60%;
        }
        .checkbox {
            flex-grow: 0;
            margin-left: 0px;
        }
    }

}
